<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6 offset-md-3">
                <mat-card style="padding: 20px;">
                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt="" style="height: 100px;">
                </div>
                <h1 class="text-center">Register Here!!</h1>
                <!-- {{user|json}} -->
                <form (ngSubmit)="formSubmit()">

                    <!-- Username -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input
                        [(ngModel)]="user.username"
                        name="username"
                        matInput placeholder="Enter User name" required>
                        <mat-hint>Username must be Unique!!</mat-hint>
                      </mat-form-field>

                      <!-- password -->
                      <mat-form-field class="full-width" appearance="outline" >
                        <mat-label>Password</mat-label>
                        <input 
                        [(ngModel)]="user.password"
                        name="password"                        
                        type="password" matInput placeholder="Enter User Password" required>
                      </mat-form-field>

                      <!-- Firstname -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Firstname</mat-label>
                        <input 
                        [(ngModel)]="user.firstName"
                        name="firstName"                        
                        matInput placeholder="Enter First Name" required>
                      </mat-form-field>

                      <!-- Lastname -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Lastname</mat-label>
                        <input
                        [(ngModel)]="user.lastName"
                        name="lastName"                        
                        matInput placeholder="Enter Last Name" required>
                      </mat-form-field>

                      <!-- Email -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input
                        [(ngModel)]="user.email"
                        name="email" 
                        type="email" matInput placeholder="Enter Email" required>
                      </mat-form-field>

                      <!-- Phone Number -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input 
                        [(ngModel)]="user.phone"
                        name="phone"                        
                        type="number" matInput placeholder="Enter Phone Number" maxlength="10" required>
                      </mat-form-field>            
                      
                      <!-- buttons -->
                      <div class="container text-center" >
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button style="margin-left: 15px;" mat-raised-button color="accent">Reset</button>
                      </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>
