
    <div class="bootstrap-wrapper">
        <div class="container-fluid">
            <h1 class="mt20 ml20">Available Quizzes!!</h1>
            <div class="row mt20" *ngIf="quizzes">
                <div class="col-md-4 " *ngFor="let q of quizzes">
                    <mat-card class="mb20" >
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>
                            <u>{{q.title}}</u>
                        </mat-card-title>
                            <mat-card-subtitle>
                                {{q.category.title}}
                            </mat-card-subtitle>
                        </mat-card-header>
                            <mat-card-content>
                                <p class="truncate" style="float: left;">{{q.description}}</p>
                                <p ><u>Quetions:</u>  {{q.noOfQuestions}}  </p>
                                <p ><u>Marks:</u>     {{q.maxMarks}}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button color="primary">View</button>
                                <button mat-raised-button color="accent" 
                                [routerLink]="'/user-dashboard/instructions/'+q.qId"    
                                class="ml20">Start</button>
                            </mat-card-actions> 
                    </mat-card>
                </div>

                <div class="col-md-12" *ngIf="quizzes.length==0">
                    <mat-card>
                        <mat-card-content>
                            <h1>No Quizzes in This Directory</h1>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
